/* App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  font-family: Roboto, sans-serif; /* Set the font to Roboto */
  color: white; /* Set the color to white */
  position: relative; /* Required for the animation */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-reveal infinite 20s ease-in-out forwards; /* New animation */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* App.css */
/* App.css - Add a global font and background */
body {
  font-family: 'Times New Roman', serif; /* Or any vintage-style font you prefer */
  background-color: #f4f4f4; /* Soft background color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  color: #d35400;
  text-decoration: none; /* Remove underlines from links */
}

a:hover {
  text-decoration: underline;
}
